<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.29" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net48" />
  <package id="SharpDisasm" version="1.1.11" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net48" />
</packages>