name: .NET Core - Release

on:
  push:
    branches: [ new-analysis, development ]
  pull_request:
    branches: [ new-analysis, development ]

jobs:
  release-net6:
    strategy:     
      matrix:
        runtimeIdentifier: [linux-x64, osx-x64, win-x64]
        project: [Cpp2IL, Cpp2IL.Gui]
    name: Build Single-File Artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: set-vars
        uses: actions/github-script@v5
        with:
          script: |
            core.setOutput("extension", "${{ matrix.runtimeIdentifier}}" === "win-x64" ? ".exe" : "");
            core.setOutput("extraArgs", "${{ matrix.project}}" === "Cpp2IL.Gui" ? "/p:BuiltInComInteropSupport=true" : "");
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.x
      - id: git-vars
        name: Get git branch information
        shell: bash
        run: |
          dotnet nuget add source https://nuget.samboy.dev/v3/index.json -n "Samboy Nuget"
          echo "##[set-output name=git_branch;]$(echo ${${GITHUB_REF#refs/heads/}//\//-})"
          echo "::set-output name=git_hash::$(git rev-parse --short HEAD)"
      - name: Restore
        run: dotnet restore -r ${{ matrix.runtimeIdentifier }} /p:VersionSuffix=${{ steps.git-vars.outputs.git_branch }}.${{ github.run_number }}+${{ steps.git-vars.outputs.git_hash }}
      - name: Build
        working-directory: ./${{ matrix.project }}/
        run: dotnet publish -c Release -f net6.0 -r ${{ matrix.runtimeIdentifier }} /p:IncludeNativeLibrariesForSelfExtract=true /p:PublishTrimmed=true /p:PublishSingleFile=true /p:EnableCompressionInSingleFile=true ${{ steps.set-vars.outputs.extraArgs }} /p:TrimMode=link /p:VersionSuffix=${{ steps.git-vars.outputs.git_branch }}.${{ github.run_number }}+${{ steps.git-vars.outputs.git_hash }} --no-restore --self-contained
      - name: Upload Executable
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.project }}-net6-${{ matrix.runtimeIdentifier }}
          path: ./${{ matrix.project }}/bin/Release/net6.0/${{ matrix.runtimeIdentifier }}/publish/${{ matrix.project }}${{ steps.set-vars.outputs.extension }}
  release-netframework:
    name: Build - Windows .NET Framework Zip
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.x
      - name: Configure nuget repo
        shell: bash
        run: |
          dotnet nuget add source https://nuget.samboy.dev/v3/index.json -n "Samboy Nuget"
      - name: Install dependencies
        run: dotnet restore -r win-x64
      - name: Build
        working-directory: ./Cpp2IL/
        run: dotnet publish -c Release -f net472 --no-restore -r win-x64
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: Cpp2IL-Netframework472-Windows
          path: ./Cpp2IL/bin/Release/net472/win-x64/publish/
  tests:
    name: Run Tests & Publish Dev Package
    runs-on: ubuntu-latest
    if: github.repository == 'SamboyCoding/Cpp2IL'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.x
      - id: set-vars
        name: Set up environment
        shell: bash
        run: |
          dotnet nuget add source https://nuget.samboy.dev/v3/index.json -n "Samboy Nuget"
          echo "##[set-output name=git_branch;]$(echo ${${GITHUB_REF#refs/heads/}//\//-})"
          echo "::set-output name=git_hash::$(git rev-parse --short HEAD)"
      - name: Install dependencies
        run: dotnet restore /p:VersionSuffix=${{ steps.set-vars.outputs.git_branch }}.${{ github.run_number }}+${{ steps.set-vars.outputs.git_hash }}
      - name: Run Tests
        run: dotnet test -c Release /p:VersionSuffix=${{ steps.set-vars.outputs.git_branch }}.${{ github.run_number }}+${{ steps.set-vars.outputs.git_hash }}
      - name: Publish WasmDisassembler
        if: github.event_name == 'push'
        run: dotnet nuget push -s https://nuget.samboy.dev/v3/index.json -k ${{ secrets.NUGET_KEY }} ./WasmDisassembler/bin/Release/*.nupkg
      - name: Publish LibCpp2IL
        if: github.event_name == 'push'
        run: dotnet nuget push -s https://nuget.samboy.dev/v3/index.json -k ${{ secrets.NUGET_KEY }} ./LibCpp2IL/bin/Release/*.nupkg
      - name: Publish Cpp2IL.Core
        if: github.event_name == 'push'
        run: dotnet nuget push -s https://nuget.samboy.dev/v3/index.json -k ${{ secrets.NUGET_KEY }} ./Cpp2IL.Core/bin/Release/*.nupkg
      
